html {
  scroll-behavior: smooth;
}

body {
  color: #283655 !important;
  background-color: #f7faff !important;
  font-family: "Rambla", sans-serif;
}

h2,
h3 {
  font-family: "Audiowide", sans-serif;
  letter-spacing: 0.2em;
  text-shadow: -1px -1px 1px #283655;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #283655;
}

/* **************** HEADER ************ */

.navbar {
  background-color: #fafafa;
  opacity: 0.9;
  height: 42px;
  transition: 0.7s;
}

.navbar-nav {
  width: 80% !important;
  margin: 0 auto;
  justify-content: space-between;
}

header {
  font-size: 75%;
  text-align: center;
  height: 100vh;
  background: url(media/header.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
}

h1 {
  padding: 50px 0 10px 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 100;
}

#line {
  height: 1px;
  background-color: #b3aca7;
  width: 25%;
  margin: 0 auto;
}

h2 {
  padding: 20px 0 50px 0;
}

.presentation {
  height: 18em;
  margin-top: 20px;
}

.infos {
  border: 1px solid #b3aca7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.photo {
  border: 1px solid #b3aca7;
  position: relative;
}

.photo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  border-radius: 3px;
  box-shadow: 0 0 4px #111;
}

.button {
  margin-top: 50px;
}

header .button a {
  padding: 20px 80px;
  border: 1px solid #b3aca7;
}

header .button:hover a {
  background: #b3aca7;
  color: #e2dedb;
  transition: all 0.3s ease-in-out;
}

/******************** COURS ************/

#cours {
  padding: 80px 80px 80px 50px;
  margin: 20px 0 0 6%;
  height: 500px;
  width: 47%;
  max-width: 640px;
  background: rgb(246, 249, 130);
  background: linear-gradient(112deg,
      rgba(246, 249, 130, 0.802773497688752) 0%,
      rgba(247, 232, 181, 1) 50%,
      rgba(255, 212, 0, 0.864406779661017) 90%);
  clip-path: polygon(0 8%, 100% 0%, 75% 100%, 0 91%);
}

#cours .languages {
  padding: 10px 0 4px 0;
  letter-spacing: 0.1em;
}

/*********** FORMATION **********/
/* 
#formation {
  position: relative;
  top: -200px;
  float: right;
  margin-right: 5%;
  padding: 80px 0 60px 50px;
  width: 45%;
  max-width: 660px;
  background: rgb(246, 249, 130);
  background: linear-gradient(112deg,
      rgba(246, 249, 130, 0.802773497688752) 0%,
      rgba(181, 206, 247, 1) 0%,
      rgba(0, 119, 255, 0.9198767334360555) 90%);
  clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0 91%);
}

#autodidacte {
  padding-top: 20px;
}

#dyma {
  padding: 50px 0 20px 9%;
}

#autodidacte h5 {
  font-weight: bold;
  letter-spacing: 0.08em;
  padding-bottom: 10px;
  text-shadow: -1px -1px 1px #35b4d5;
}

#dyma h5 {
  font-weight: bold;
  padding-bottom: 10px;
  text-shadow: -1px -1px 1px #35b4d5;
}

.counter {
  display: flex;
  text-align: center;
}

.data {
  border: 1px solid #35b4d5;
  width: 170px;
  margin: 0 4%;
  padding: 5px;
}

.counter-value {
  font-size: 2em;
}

.data-span {
  font-size: 1.8em;
} */


/*EXPERIENCE*/

#experience {
  opacity: 0; 
}


#experience.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* portfolio */
#portfolio{
  background-color: #fbf9f7;
}

.titre {
  color: #444444;
}


/*********************** PARCOURS ****************/
#parcours {
  max-width: 800px;
  margin: 4px auto 18px auto;
  padding: 40px 30px 100px 30px;
  background: url(media/parcours.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
  border-radius: 8px;
  box-shadow: -1px -1px 8px #283655;
}

#parcours h3 {
  font-size: 2.5em;
  padding-bottom: 30px;
  text-align: center;
}

#parcours h4 {
  font-size: 1.6em;
  background: linear-gradient(rgb(245, 134, 134), rgb(247, 220, 111));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-left: 20px;
}



#parcours h6 {
  font-style: italic;
  color: #edca21;
  margin-left: 20px;
}

#parcours p {
  line-height: 1.9em;
}

.timeline {
  border-top: 3px solid;
  border-image: linear-gradient(to right, #f9d423, #ff4e50);
  border-image-slice: 1;
  margin: 0;
  padding: 40px;
  position: relative;
}

.timeline:nth-child(1)::after {
  content: "▲";
  color: #ff4e50;
  position: absolute;
  top: -10px;
  right: -10px;
  box-sizing: content-box !important;
}

.timeline:nth-child(1) {
  border-bottom: 3px solid;
  border-top: none;
  width: 80%;
}

.timeline:nth-child(2) {
  border-top: none;
}

.timeline:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0%;
}

.timeline:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}

/************** COMPETENCES *************/

#Savoir-être {
  padding-top: 100px;
  padding: 150px 50px 100px 100px;
  width: 100%;
  background-color: #b7c8e1;
  clip-path: polygon(0 11%, 100% 0%, 100% 100%, 0 84%);
}

#Savoir-être h3 {
  transform: rotate(3.5deg);
  font-size: 3em;
  padding-top: 10px;
  text-shadow: -1px 1px 0px maroon;
  color: #281e03;
}

.cloud {
  text-align: center;
  padding: 50px 0;
  font-size: 1.4em;
  text-transform: uppercase;
}

/********************* HOBBIES ********************/

#hobbies {
  margin-top: 50px;
  padding: 250px 50px 100px 50px;
  margin: -300px 0 -90px 0;
  clip-path: polygon(0 21%, 100% 31%, 100% 95%, 0% 100%);
  background: #ffbb00;
}

#hobbies h3 {
  padding: 50px 0;
  margin: 0px 50px 110px 50px;
  transform: rotate(354deg);
  font-size: 3em;
  text-shadow: -1px 1px 0px #375e97;
}

.pictures {
  display: flex;
  justify-content: center;
}

.flip-box-front img {
  width: 100%;
  height: 100%;
}

.flip-box-back div {
  margin: 0 auto;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.flip-box-back p {
  text-transform: uppercase;
  padding: 10px;
  font-size-adjust: auto;
}

.flip-box-back {
  color: white;
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box {
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  max-width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 300px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/****************** FOOTER ************/

footer {
  background: url(media/footer.jpg) 50% 0% no-repeat fixed;
  background-size: cover;
  text-align: center;
  padding: 160px 50px 5px 50px;
}

footer h3 {
  padding: 0 0 60px 0;
  font-size: 2.5em;
}

.footer-icons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 60%;
}

.network {
  font-size: 4em;
  border: 1px solid #b3aca7;
  padding: 30px 45px;
  color: #726659;
  z-index: -1 !important;
  border-radius: 50%;
}

.network:hover,
textarea:hover,
input:hover,
.form-button:hover {
  background-color: #b3aca7;
  color: #e2dedb;
  transition: all 0.3s ease-in-out;
}

.form-container {
  padding-top: 20px;
}

#reused_form {
  position: relative;
  margin: 50px auto;
}

input {
  font-size: 0.85em;
  width: 470px;
  height: 50px;
  padding: 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  border-bottom: none;
}

input::placeholder,
textarea::placeholder,
input:focus::placeholder,
textarea:focus::placeholder {
  color: #aca49c;
}

input:hover::placeholder,
textarea:hover::placeholder,
input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #e2dedb;
}

textarea {
  width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  resize: none;
}

.form-button {
  background: transparent;
  border: solid 1px #b3aca7;
  padding: 20px 75px;
  margin: 14px 0 -20px 0;
}

.form-container h4 {
  font-size: 2em;
}

#error_message {
  color: red;
  border: 1px solid red;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px 15px 8px 15px;
  box-shadow: 0 0 5px red;
}

#success_message {
  columns: green;
  border: 1px solid green;
  max-width: 400px;
  margin: 150px auto;
  padding: 50px;
  box-shadow: 0 0 5px green;
}

.arrow {
  width: 50px;
  margin: -20px auto;
  padding-top: 30px;
  animation: arrow linear 1.5s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  0% {
    transform: translateY(0px);
  }

  38% {
    transform: translateY(8px);
  }

  100% {
    transform: translateY(0px);
  }
}

.arrow a {
  font-size: 3em;
  border: none;
  color: #726659;
}

.arrow:hover i {
  transform: scale(1.6);
  transition: 0.5s ease-in-out;
}

footer p {
  font-size: 0.9em;
  letter-spacing: 0.3em;
}

/******************* MEDIA QUERIES *****************/

@media screen and (max-width: 1130px) {
  .button {
    margin-top: 30px;
  }
}

@media screen and (max-width: 769px) {

  .infos h5,
  .typed {
    font-size: 0.9em;
  }

  #cours {
    margin-left: 1%;
  }

  #formation {
    margin-right: 1%;
  }

  .network {
    font-size: 2em;
    padding: 10px 20px;
  }

  .form-button {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 430px) {
  .navbar {
    display: none !important;
  }

  .fixed-top {
    position: unset !important;
  }

  h1,
  h2 {
    font-size: 2em;
  }

  #cours h3 {
    font-size: 1.1em;
  }

  #cours {
    width: 80%;
    margin-left: 10%;
  }

  #cours p {
    font-size: 0.6em;
  }

  #formation {
    margin: 210px 0 0 10%;
    width: 80%;
    float: none;
    display: block;
  }

  #autodidacte,
  #dyma {
    padding: 50px 0 0 0;
  }

  .counter-value {
    font-size: 1em;
  }

  .data-span {
    font-size: 0.8em;
  }

  #parcours {
    margin: 20px auto;
  }

  #parcours h3 {
    font-size: 2em;
    margin-top: 0px;
  }

  #parcours h4 {
    font-size: 1.4em;
  }

  #parcours p {
    font-size: 0.9em;
  }

  #Savoir-être {
    padding: 120px 50px 100px 100px;
  }

  #Savoir-être h3 {
    transform: rotate(0deg);
  }

  #hobbies h3 {
    transform: rotate(0deg);
    margin: 0px 50px 20px 50px;
  }

  div span {
    margin-left: 0 !important;
  }

  #Savoir-être h3,
  #hobbies h3,
  footer h3 {
    font-size: 1.9em;
  }

  .cloud {
    font-size: 1em;
  }

  .flip-box-back p {
    padding: 10px 0;
  }

  .flip-box-back div {
    font-size: 0.5em;
  }

  input,
  textarea {
    width: 300px;
  }

  .network {
    margin: 0 10px;
  }

  .footer-icons {
    margin: 0px;
  }

  .footer-icons a {
    margin: 0 20px;
  }
}

@media screen and (max-width: 376px) {

  #Savoir-être h3,
  #hobbies h3,
  footer h3 {
    font-size: 1.1em;
  }

  .cloud {
    font-size: 0.8em;
  }

  input,
  textarea {
    width: 200px;
  }

  .network {
    font-size: 1em;
    padding: 10px 15px;
  }
}


